
@sadmammoth:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_username=sadmammoth
//npm.pkg.github.com/:_password=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
//npm.pkg.github.com/:_email=lo.ma200018@gmail.com