"@bit:registry" "https://node.bit.dev:_password=Vfrc200018bit:username=sadmammoth:email=lo.ma200018@gmail.com:always-auth=true"
"@sadmammoth:registry" "https://npm.pkg.github.com/:_authToken=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"